@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Poppins:wght@400,600,700,900&display=swap");
/*rgb(58, 68, 84)*/
/* rgb(107, 78, 113)*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #2c3136;
  line-height: 1.6;
  font-weight: 400;
}

button {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}

.container {
  max-width: 1090px;
  margin: 0 auto;
}

hr {
  border: 5px solid #6b4e71;
  margin: 25px auto;
}

.centerAbsolut {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.social {
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
}

.social:hover {
  opacity: 0.6;
}

/**************
    RESPONSIVE
***************/
/**************
    HEADER
***************/
.header {
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-index {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(107, 78, 113, 0.99)), to(rgba(255, 255, 255, 0.4))), url(../img/header-background.png);
  background-image: linear-gradient(to bottom, rgba(107, 78, 113, 0.99), rgba(255, 255, 255, 0.4)), url(../img/header-background.png);
}

.header-index hgroup h1 {
  font-size: 4rem;
  margin: 0 0 25px 0;
}

.header-index hgroup p {
  font-size: 1.3rem;
  margin: 0 0 30px 0;
  font-weight: 600;
}

.header-index hgroup div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.header-index hgroup div:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.header-contact {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(107, 78, 113, 0.8)), to(white)), url(../img/novisad.jpg);
  background-image: linear-gradient(to bottom, rgba(107, 78, 113, 0.8), white), url(../img/novisad.jpg);
}

.header-contact hgroup {
  text-align: center;
}

.header-contact hgroup div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.header-contact hgroup h1 {
  font-size: 2.7rem;
  margin: 0 0 15px 0;
}

.header-contact hgroup p {
  line-height: 1.5;
  font-weight: 400;
}

.header-about {
  background-image: url(../img/slide1.jpg);
  height: 65vh;
}

.header nav {
  background: #f5dddd;
  padding: 20px 0;
  line-height: 1;
  color: #6b4e71;
  position: fixed;
  z-index: 5;
  width: 100%;
}

.header nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav .container .logo {
  font-style: italic;
  font-size: 2.3rem;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
}

.header nav .container .logo span {
  font-weight: 700;
  text-transform: uppercase;
}

.header nav .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header nav .container ul li a {
  padding: 10px 10px;
  font-size: 1.1rem;
  text-transform: uppercase;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.header nav .container ul li a:hover {
  background-color: #6b4e71;
  color: #fff;
}

.header hgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  line-height: 1;
}

.header hgroup h1 {
  color: #000;
  font-weight: 400;
  opacity: 0.9;
}

.header hgroup h1 span {
  color: #fff;
  font-style: italic;
}

.header hgroup p {
  font-size: 1.3rem;
}

.header hgroup img {
  display: block;
  width: 100%;
}

/**************
    SERVICIES
***************/
.servicies {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.servicies article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  text-align: center;
}

.servicies article h2 {
  font-size: 1.9rem;
}

.servicies article hr {
  width: 100px;
}

.servicies article img {
  margin-top: 45px;
  width: 100%;
}

/**************
    SKILLS
***************/
.skills {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(107, 78, 113, 0.95)), to(rgba(107, 78, 113, 0.95))), url(../img/bg.png);
  background-image: linear-gradient(rgba(107, 78, 113, 0.95), rgba(107, 78, 113, 0.95)), url(../img/bg.png);
  background-size: cover;
  background-position: center;
  padding: 130px 0 160px;
}

.skills article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 750px;
  margin: 0 auto;
}

.skills article div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills article div h2 {
  font-size: 3rem;
  font-weight: 400;
}

.skills article div h2 span {
  text-shadow: 0 0 5px #000;
  font-style: italic;
}

.skills article div ul li {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills article div ul li:last-child {
  margin-bottom: 0px;
}

.skills article div ul li::before {
  content: ">_";
  display: inline;
  font-weight: 600;
}

.skills article div i {
  font-size: 10rem;
  text-shadow: 0 0 5px #000;
  text-align: right;
  width: 100%;
}

.contact i {
  font-size: 3rem;
  margin-bottom: 30px;
  color: #6b4e71;
}

.contact h4 {
  font-size: 1.5rem;
  font-weight: 400;
}

.contact p,
.contact a {
  line-height: 1.5;
  font-size: 1rem;
  display: block;
}

/**************
    FOOTER
***************/
footer {
  background-color: #f5dddd;
  text-align: center;
  padding: 50px 0;
  line-height: 1;
}

footer h2 {
  font-size: 2rem;
  font-weight: 400;
}

footer hr {
  width: 60px;
}

footer a i {
  color: #6b4e71;
  font-size: 1.9rem;
  margin-left: 20px;
}

footer a:first-child {
  margin-left: 0;
}

footer p {
  margin-top: 10px;
}

footer p a {
  text-transform: uppercase;
}

/**************
    RESPONSIVE
***************/
@media (max-width: 767px) {
  .servicies,
  .skills {
    padding: 20px 0our;
  }
}
/*# sourceMappingURL=style.css.map */