@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700|Poppins&display=swap");
/*rgb(58, 68, 84)*/
/* rgb(107, 78, 113)*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 1.6;
  font-weight: 400;
}

button {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}

.container {
  max-width: 1090px;
  margin: 0 auto;
}

.centerAbsolut {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.social {
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
}

.social:hover {
  opacity: 0.6;
}

/**************
    RESPONSIVE
***************/
/**************
    HEADER
***************/
.header {
  height: 90vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(107, 78, 113, 0.9)), to(rgba(245, 221, 221, 0.4))), url(../img/header-background.png);
  background-image: linear-gradient(to bottom, rgba(107, 78, 113, 0.9), rgba(245, 221, 221, 0.4)), url(../img/header-background.png);
  opacity: 0.9;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header nav {
  background: #f5dddd;
  padding: 20px 0;
  line-height: 1;
  color: #6b4e71;
}

.header nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav .container .logo {
  font-style: italic;
  font-size: 2.3rem;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
}

.header nav .container .logo span {
  font-weight: 700;
  text-transform: uppercase;
}

.header nav .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header nav .container ul li a {
  padding: 10px 10px;
  font-size: 1.1rem;
  text-transform: uppercase;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.header nav .container ul li a:hover {
  background-color: #6b4e71;
  color: #fff;
}

.header hgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  line-height: 1;
}

.header hgroup div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.header hgroup div:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.header hgroup h1 {
  color: #000;
  font-size: 4rem;
  font-weight: 400;
  margin: 0 0 25px 0;
  opacity: 0.9;
}

.header hgroup h1 span {
  color: #fff;
  font-style: italic;
}

.header hgroup p {
  font-size: 1.3rem;
  margin: 0 0 30px 0;
  font-weight: 400;
  color: #000;
  opacity: 0.9;
}

.header hgroup img {
  display: block;
  width: 100%;
}

/**************
    FOOTER
***************/
footer {
  background-color: #f5dddd;
}

/**************
    RESPONSIVE
***************/
/*# sourceMappingURL=style.css.map */