@import "variable";
@import "reset";
@import "basic";
@import "mixin";

/**************
    HEADER
***************/
.header {
    height: 90vh;
    background-image: linear-gradient(to bottom, rgba($violet, 0.9), rgba($white, 0.4)),
        url(../img/header-background.png);

    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    nav {
        background: $cream;
        padding: 20px 0;
        line-height: 1;
        color: $violet;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                font-style: italic;
                font-size: 2.3rem;
                font-family: $fontFamilySecondary;
                letter-spacing: 1px;
                span {
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                li {
                    //transition: color $transition;
                    a {
                        padding: 10px 10px;
                        font-size: 1.1rem;
                        text-transform: uppercase;
                        transition: background-color $transition;
                        &:hover {
                            background-color: $violet;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    hgroup {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        line-height: 1;
        div {
            flex: 0 0 50%;
            &:last-child {
                flex: 0 0 40%;
            }
        }
        h1 {
            color: $black;
            font-size: 4rem;
            font-weight: 400;
            margin: 0 0 25px 0;
            opacity: 0.9;
            span {
                color: $white;
                font-style: italic;
            }
        }
        p {
            font-size: 1.3rem;
            margin: 0 0 30px 0;
            font-weight: 600;
        }
        img {
            display: block;
            width: 100%;
        }
    }
}
/**************
    SERVICIES
***************/
.servicies {
    padding: $py;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    article {
        flex: 0 0 30%;
        text-align: center;
        h2 {
            font-size: 1.9rem;
        }
        hr {
            border: 5px solid $violet;
            width: 100px;
            margin: 25px auto;
        }
        img {
            margin-top: 45px;
            width: 100%;
        }
    }
}

/**************
    FOOTER
***************/
footer {
    background-color: $cream;
}
/**************
    RESPONSIVE
***************/
@media (max-width: 767px) {
    .servicies {
        padding: 20px 0;
    }
}
